<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parul.twsearch" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:name=".TwitterSearchApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.parul.twsearch.Login" android:theme="@style/AppTheme" />
        <activity android:name="com.example.parul.twsearch.SignupActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.example.parul.twsearch.MainActivity" android:theme="@style/AppTheme"/>
    </application>



</manifest>
